<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JZBRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>建众帮.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>建众帮Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>测试.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07D19D311D71489300221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D19D491D71489300221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D19D541D71489300221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D19D681D73C61700221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D19D801D73C61700221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D19D8B1D73C61700221B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58B1D8F61CC7859E00786AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58B1D90F1CC7859E00786AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58B1D91A1CC7859E00786AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
